{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "importOrder": [
    "^nestjs$",
    "^prisma$",
    "<THIRD_PARTY_MODULES>",
    "^components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
